.footer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  height: 100px;
  margin-left: 40vw;
  transform: skew(-17deg);
}

.footer > span {
  color: white;
}

.footer-box-1 {
  background-color: #797979;
}

.footer-box-2 {
  background-color: #333;
}

.footer-box-3 {
  background-color: #6bdb20;
}

h4 {
  transform: skew(17deg);
  padding-left: 5%;
}
.grid-container {
  gap: 0;
}